  body {
            background-color: #f8f9fa;
        }
        .card {
            border-radius: 10px;
            transition: transform 0.2s;
        }
        .card:hover {
            transform: scale(1.05);
        }
        .symbol {
            font-size: 24px; /* Ukuran simbol */
            color: #007bff; /* Warna simbol */
        }
        .about-card {
            padding: 20px;
            border-radius: 10px;
            background-color: #e9ecef;
        }