*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins' sans-serif;
}

body {
    background: rgb(80,80,226);
    background: linear-gradient(103deg, rgba(80,80,226,1) 0%, rgba(117,255,206,1) 100%);
}

main{
    margin-top: 120px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-nav a:hover{
    text-decoration: none;
     background-color: #4F75FF;
     color: white;
     border-radius: 20px;
     transition: 0.6s;
 }
 .navbar-nav a{
    text-decoration: none;
    display: flex;
    margin: 10px;
    padding: 6px 15px;
   color: #4F75FF;
   font-weight: 600;
 }